*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
line-height:1.6;
color:#333;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#111;
color:white;
position:sticky;
top:0;
}

span{
    color:white;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar ul li{
margin-left:25px;
}

.navbar ul li a{
color:white;
text-decoration:none;
}

.navbar ul li a:hover{
color:palevioletred;
}



/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:100px;
background: linear-gradient(to right ,rgb(190, 109, 201) , rgb(227, 207, 230));
color:navy;
}

.hero-left{
max-width:500px;
}

.hero-left h1{
font-size:50px;
margin:10px 0;
}

.hero-buttons button{
margin-top:5px;
margin-right:10px;
padding:12px 25px;
border:none;
border-radius:5px;
cursor:pointer;
}

.resume{
background:#111;
color:white;
}

.hero-right img{
width:350px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
}



/* SECTIONS */


section{
padding:80px;
}

.section-title{
text-align:center;
margin-bottom:40px;
font-size:32px;
color:white;
}



/* ABOUT */

.about{
border-top-color:#111;
border-top-style:double;
border-top-width:5px;
border-bottom-color:#111;
border-bottom-style:double;
border-bottom-width:5px;
background: linear-gradient(to right , rgb(227, 207, 230),rgb(190, 109, 201));
color:navy;/* EDUCATION */

.education{
background: linear-gradient(to right ,rgb(190, 109, 201) , rgb(227, 207, 230));
color:navy;
}
.education-box{
display:flex;
gap:30px;
justify-content:center;
}

.edu-card{
padding:30px;
background:black;
border-radius:10px;
}
};
.about-container{
display:flex;
gap:30px;
justify-content:center;
margin-top:30px;

}

.about-card{
    display:flex;
    margin-top:10px;
padding:30px;
background:linear-gradient(to top,black,Grey);
color:white;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
border-radius:10px;
}

.technical {
    padding:5px;
    align-content:center;


}









/* SKILLS */
.skills{
    background: linear-gradient(to right , rgb(227, 207, 230),rgb(190, 109, 201));
color:navy;
border-top-color:#111;
border-top-style:double;
border-top-width:5px;
}

.skill-bar{
max-width:600px;
margin:auto;
}

.bar{
height:10px;
background:#ddd;
margin-bottom:20px;
}

.bar span{
display:block;
height:100%;
background:#ff7eb3;
}



/* SERVICES */
.services{
background: linear-gradient(to right ,rgb(190, 109, 201) , rgb(227, 207, 230));
color:navy;
border-top-color:#111;
border-top-style:double;
border-top-width:5px;
}

.service-container{
display:flex;
gap:30px;
justify-content:center;
}

.service-card{
padding:30px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
border-radius:10px;
transition:0.3s;
}

.service-card:hover{
transform:translateY(-10px);
}



/* PROJECTS */
.projects{
    background: linear-gradient(to right , rgb(227, 207, 230),rgb(190, 109, 201));
color:navy;
border-top-color:#111;
border-top-style:double;
border-top-width:5px;
}

.project-container{

display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}

.project-card{
    border-color:#111;
border-style:solid;
border-width:5px;
width:300px;
border-radius:10px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.project-card img{
width:100%;
height:200px;
object-fit:cover;
}

.project-card h3{
margin:15px;
}

.project-card p{
padding:0 15px 20px;
}



/* EXPERIENCE */
.experience{
background: linear-gradient(to right ,rgb(190, 109, 201) , rgb(227, 207, 230));
color:navy;
border-top-color:#111;
border-top-style:double;
border-top-width:5px;
}

.timeline{
max-width:700px;
margin:auto;
}

.timeline-item{
background:#f4f4f4;
padding:20px;
margin-bottom:20px;
border-left:5px solid #ff7eb3;
}



/* CONTACT */
.contact{
    background: linear-gradient(to right , rgb(227, 207, 230),rgb(190, 109, 201));
color:navy;
border-top-color:#111;
border-top-style:double;
border-top-width:5px;
}
.contact form{
display:flex;
flex-direction:column;
width:350px;
margin:auto;
gap:15px;
}

input,textarea{
padding:12px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:12px;
background:#ff7eb3;
color:white;
border:none;
cursor:pointer;
}



/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#111;
color:white;
}